<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zeroro88.hk.mapper.DdlMapper">
	<insert id="usersDdl">
		CREATE TABLE users (
		id IDENTITY PRIMARY KEY,
		username
		varchar(50),
		password varchar(255)
		);
	</insert>
	<insert id="newsDdl">
		create TABLE newsentry (
		id IDENTITY PRIMARY KEY,
		date DATE,
		content varchar(255)
		);
	</insert>
</mapper>